/* ModerationReview styles */
.card {
  width: 100%;
  min-width: 500px;
  padding: 0px;
}

.reviewWrapper {
  border: 1px solid #ccc; 
  border-radius: 8px; 
  padding: 10px; 
  display: flex; 
  flex-direction: column; 
  gap: 10px;
  margin: 10px;
}

.spinner {
  border: 3px solid #f3f3f3; /* Light grey */
  border-top: 3px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 16px; /* Size of the spinner */
  height: 16px; /* Size of the spinner */
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


