/* Navbar styles */
.nav {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: #f8f8f8;
}

.link {
    flex: 1;
    max-width: 25%;
    text-align: center;
    display: flex;
    justify-content: center;
}

.button {
    flex: 1;
    padding: 10px 20px;
    color: blue;
    background-color: transparent;
    cursor: pointer;
    border: 2px solid blue;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}

.link:not(:last-child) {
    border-right: 2px solid #000;
}
